langchain
requests
transformers
torch
chromadb
beautifulsoup4
aiohttp
pandas
numpy
accelerate
langchain_community
langchain_openai
langchain_google_genai
optimum
auto-gptq
langchain-chroma
bitsandbytes
openpyxl
mistral_inference
openai
